.signup-page {
    display: flex;
    height: 100vh;
  }
  
  .signup1-page {
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    background-color: #7f7c7c3a; */
  }
  
  .signup-container {
    background-color: rgba(252, 252, 251, 0.589);
    padding: 30px;
    height:620px;
    width: 360px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  
  .signupinput {
    display: block;
    width: 70%;
    padding: 8px;
    margin-top: -15px;
    margin-left: 50px;
    margin-bottom: -10px ;
    border: 2px solid #4b45457e;
    border-radius: 8px;
    font-size: 14px;
  }

  .ab1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -28px;

  }

  .a1{
    text-align: left;
    padding-left: 50px;
    font-weight: 500;
  }
  
  .signupbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    width:120px;
    cursor: pointer;
  }
  
  .signupbutton:hover {
    background-color: #0056b3;
  }
  
  .logo1{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  .b1{
    color: #0d00ff;
  }
  
  .create1{
    margin-top: -43px;
    margin-left: 100px;
    text-align: center;
    color: aqua;
  }
  

  a:link,a:visited{
    color:white;
    text-decoration: none;
  }